@import url('../pages/ws_frame_setup.css');

.section
{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inventory-section
{
    max-width: 500px;
}

.holder
{
    flex: 1;
    overflow-y: scroll;
}

.product-card
{
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.product-card > * 
{
    user-select: none;
}

.product-card:hover
{
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color);
}

.product-card > img
{
    width: 100px;
    height: 100px;
}

.product-details
{
    flex: 1;
}

.order-table thead 
{
    font-weight: 600;
}

.mod-img
{
    height: 24px;
    width: 24px;
}

.decrement-btn
{
    background-color: var(--warning-dark) !important;
}

.decrement-btn:hover, .decrement-btn:active, .decrement-btn:focus
{
    background-color: var(--warning-dark-2) !important;
}

.remove-btn
{
    background-color: var(--danger) !important;
}

.remove-btn:hover, .remove-btn:active, .remove-btn:focus
{
    background-color: var(--danger-dark) !important;
}