@import url('../root.css');

.landing-page-wrapper
{
    height: 100%;
    width: 100%;
    display: flex;
}

.image-overlay 
{
    background: url('../../assets/images/landing_page_img.jpg') var(--accent-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: white;
    flex: 1;
}

.ws-sign-in-form-wrapper
{
    flex: 1;
}

.form-content
{
    max-width: 400px;
}