<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Customer Sign Up | H2GO</title>
    <link rel='shortcut icon' href='../../../../public/favicon.ico' type='image/x-icon'>
    <link rel='stylesheet' href='../../../styles/customer/cs_sign_in.css'>
</head>
<body>
    <main class='landing-page-wrapper'>
        <div class='image-overlay d-flex justify-content-center align-items-center'>
        </div>
        <div class='ws-sign-in-form-wrapper d-flex justify-content-center align-items-center flex-column p-5'>
            <div class='d-flex flex-column align-items-center mb-5'>
                <h3 class='fw-semibold'>Customer Sign Up</h3>
                <h5>Personal Details</h5>
            </div>
            <div class='form-content w-100'>
                <form id='sign-up-1-form' class='needs-validation' novalidate>
                    <div class='mb-3 has-validation'>
                        <label for='cs-fname' class='form-label required'>First name</label>
                        <input id='cs-fname' type='text' aria-label='First name' class='form-control' data-fb='First Name' required='true' pattern='[A-Za-z\s]+'/>    
                        <div id='cs-fname-invalid-fb' class='invalid-feedback'></div>
                    </div>
                    <div class='mb-3 has-validation'>
                        <label for='cs-lname' class='form-label required'>Last name</label>
                        <input id='cs-lname' type='text' aria-label='Last name' class='form-control' data-fb='Last Name' required='true' pattern='[A-Za-z\s]+'/>
                        <div id='cs-lname-invalid-fb' class='invalid-feedback'></div>
                    </div>
                    <div class='mb-3 has-validation'>
                        <label for='cs-contact-num' class='form-label required'>Contact Number</label>
                        <input id='cs-contact-num' type='tel' aria-label='Contact Number' class='form-control' maxLength='11' data-fb='Contact Number' required='true'/>
                        <div id='cs-contact-num-invalid-fb' class='invalid-feedback'></div>
                    </div>
                    <div class='mb-3 has-validation'>
                        <label for='cs-gender' class='form-label required'>Gender</label>
                        <select id='cs-gender' class='form-select' aria-label='Select Gender' data-fb='Gender' required='true'>
                            <option value='' selected='true'>Select Gender</option>
                            <option value='M'>Male</option>
                            <option value='F'>Female</option>
                        </select>
                        <div id='cs-gender-invalid-fb' class='invalid-feedback'></div>
                    </div>
                    <div class='mb-3 has-validation'>
                        <label for='ws-address' class='form-label required'>Address</label>
                        <textarea id='cs-address' class='form-control' rows='3' data-fb='Address' required='true'></textarea>
                        <div id='cs-address-invalid-fb' class='invalid-feedback'></div>
                    </div>
                    <div>
                        <button id='signup-1-next-btn' type='submit' class='btn btn-primary w-100'>Next</a>
                    </div>
                    <div class='d-flex justify-content-center w-100'>
                        <p class='suggestion-text d-flex align-items-center'>Already have an account? <a href='cs_sign_in.html' class='btn btn-link btn-text'>Sign in</a></p>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script type='module' src='../../../script/customer/cs_signup_1.js'></script>
</body>
</html>